extends partial/layout

block container
    .list-tags
        != list_tags({show_count: true, orderby: 'length', order: -1})
    include mixins/post
    +postList()

block pagination
    include mixins/paginator
    +home()

block copyright
    include partial/copyright