.archive {
  max-width: 500px;
  margin: 3em auto;

  .tag-list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    border-bottom: 1px dashed #ddd;
  }

  .tag-list-item {
    float: left;
    margin-right: 5px;
  }

  .tag-list-link {
    font-size: 1rem;
    color: #42b983;

    &:hover {
      color: #267B54;
    }
  }

  .tag-list-count {
    top: -3px;
    font-size: 14px;
    position: relative;
    margin-left: 2px;
  }

  .post-item {
    padding: 2px 0 0 50px;
  }

  .post-time,
  .post-title-link {
    font-size: 1rem;
  }

  .post-title-link {
    display: block;
    margin-left: 125px;
    color: #42b983;
    word-break: break-all;

    &:hover {
      border-bottom: 0;
      color: #267B54;
    }
  }

  .post-info {
    float: left;
    width: 125px;
    color: #7f8c8d;
  }

  .post-tag {
    display: none;
  }
}
