<ul class="nav nav-list">
    <% _.forEach(theme.menu, function(value, key){ %>
    <%
        var re = /^(http|https):\/\/*/gi;
        var tar = re.test(value) ? "_blank" : "_self";
        var act = !re.test(value) && "/" + page.current_url === value;
        %>
    <li class="nav-list-item">
        <a href="<%- url_for(value)%>" class="nav-list-link <%= act ? 'active' : '' %>" target="<%- tar %>">
            <%= key.toUpperCase() %>
        </a>
    </li>
    <% }) %>
</ul>